
<div class="main-container-left-menu">
    <div class="mobile-backdrop btn_collaps_menu_js"></div>
    <nav class="main-nav-left-menu">
        @*s header*@
        <div class="main-nav-header-logo">
            <a class="main-box-logo-left-menu" href="">
                <div class="main-logo">
                    <span class="nav-logo-round">
                        <img src="~/Content/Assets/logo/logo.png" alt="" />
                    </span>
                    <span class="nav-logo">
                        <img src="~/Content/Assets/logo/logo.png" alt="" />
                    </span>
                </div>
                <div class="main-text-logo">D SOUND</div>
            </a>
            <div class="main-btn-collaps-menu main_action_ripple btn_collaps_menu_js" main-color-ripple="#e8eff19e"><i class="ri-arrow-left-s-line"></i></div>
        </div>
        @*e header*@
        @*s sidebar menu*@
    <div class="main-container-menu-left-menu main-scroll-left-menu">

        <div href="/" class="main-btn-menu-left-menu main_btn_menu_left_menu_js" main-color-ripple="#43494f80" id="nav_department" main-tooltip-menu>
            <span class="main-icon"><i class="ri-apps-2-line"></i></span>
            <span class="main-title">Home</span>
        </div>
        <div href="/" class="main-btn-menu-left-menu main_btn_menu_left_menu_js" main-color-ripple="#43494f80" id="nav_department" main-tooltip-menu>
            <span class="main-icon"><i class="ri-dashboard-line"></i></span>
            <span class="main-title">Dashborad</span>
        </div>

        <div class="nav-head-menu-title"><line></line><span>Settings</span></div>

        <div href="/Categories" class="main-btn-menu-left-menu main_btn_menu_left_menu_js" main-color-ripple="#43494f80" id="active_menu_categories_js" main-tooltip-menu>
            <span class="main-icon"><i class="ri-stack-line"></i></span>
            <span class="main-title">Categories</span>
        </div>
        <div href="/Products" class="main-btn-menu-left-menu main_btn_menu_left_menu_js" main-color-ripple="#43494f80" id="active_menu_product_js" main-tooltip-menu>
            <span class="main-icon"><i class="ri-product-hunt-line"></i></span>
            <span class="main-title">Products</span>
        </div>
        <div href="/kd" class="main-btn-menu-left-menu main_btn_menu_left_menu_js" main-color-ripple="#43494f80" id="" main-tooltip-menu>
            <span class="main-icon"><i class="ri-user-3-line"></i></span>
            <span class="main-title">User</span>
        </div>

        @*<span class="nav-head-menu-title">Others</span>
        <div href="/" class="main-btn-menu-left-menu" main-color-ripple="#43494f80" id="nav_address" main-tooltip-menu>
            <span class="main-icon"><img src="~/Content/Assets/icon/notification.svg" /></span>
            <span class="main-title">Notification</span>
            <div class="main-text-count-notification">8</div>
        </div>
        <div class="main-btn-menu-left-menu" main-color-ripple="#43494f80" main-tooltip-menu>
            <span class="main-icon"><i class="ri-translate"></i></span>
            <span class="main-title">Translation</span>
        </div>
        <div class="main-btn-menu-left-menu btn_collaps_menu_js" main-color-ripple="#43494f80" id="nav_address" main-tooltip-menu>
            <span class="main-icon"><img src="~/Content/Assets/icon/maxLayout.png" /></span>
            <span class="main-title">collaps menu</span>
        </div>
        <div href="/" class="main-btn-menu-left-menu main_btn_menu_left_menu_js" main-color-ripple="#43494f80" id="nav_address" main-tooltip-menu>
            <span class="main-icon"><i class="ri-settings-line"></i></span>
            <span class="main-title">Setting</span>
        </div>*@
    </div>
        @*e sidebar menu*@
        @*s Profile*@
        <!--<div class="main-container-profile">

        <div class="main-box-profile">

            <div class="main-left-profile">
                <div class="maim-image-profile">
                    <div class="main-background-profile">
                        <img src="~/Content/Assets/logo/user.png" />
                    </div>
                </div>
                <div class="main-text-profile">
                    <div class="main-user-name">KOY DA</div>
                    <div class="main-user-type">Admin</div>
                </div>
            </div>-->
        @*<div class="main-btn-drop-action-menu-profile">
                <img src="~/Content/Assets/icon/arrow-down.png" />
            </div>*@
        <!--</div>
        <div class="main-action-system">-->
        @*<div class="main-btn-system btn_collaps_menu_js" main-tooltip-menu><div class="main-icon"><i class="ri-layout-left-line"></i></div><div class="main-title">collaps menu</div></div>
            <div class="main-btn-system" main-tooltip-menu><div class="main-icon"><i class="ri-settings-line"></i></div><div class="main-title">Setting</div></div>*@
        <!--<div class="main-btn-system" main-tooltip-menu><div class="main-icon"><i class="ri-switch-line"></i></div><div class="main-title">Switch database</div></div>
                <div class="main-btn-system" main-tooltip-menu><div class="main-icon"><i class="ri-shut-down-line"></i></div><div class="main-title">logout</div></div>
            </div>
        </div>-->
        @*e Profile*@

        @*s menu defaul system*@
        <div class="main-nav-menu-footer">
            <div class="main-btn-menu-left-menu main_btn_menu_left_menu_js" main-color-ripple="#43494f80" id="" main-tooltip-menu>
                <span class="main-icon"><i class="ri-settings-line"></i></span>
                <span class="main-title">Setting</span>
            </div>
        </div>
        @*e menu defaul system*@

    </nav>
</div>
