<div class="main-container-right-dialog false" id="modal_update">
    <div class="main-content-dialog">
        <div class="main-header">
            <div class="left">
                <div class="main-header-title">អំពីខ្លួនឯង</div>
            </div>
            <div class="right">
                <div class="main_max_screen_cursor_pointer main_action_ripple main-btn-close-right-dialog use_all_btn_close_js_right_dialog" main-color-ripple="#71758b0f"><i class="ri-close-line"></i></div>
            </div>
        </div>
        <div class="main-body main_scroll_right_dialog">

            <div class="main-tab-group-content">

                <div class="main-nav-tab">
                    <div class="main-btn-switch-tab active" main-tab-target="#persional">ផ្ទាល់ខ្លួន</div>
                    <div class="main-btn-switch-tab" main-tab-target="#address">ទីតាំង</div>
                </div>

                <div class="main-tab-content-view">
                    <div class="main-tab-pane" id="persional">
                        <div class="main-input-grid-2">
                            <div class="main-group-input-border">
                                <label>គោតនាម</label>
                                <input type="text" placeholder="បញ្ចូលគោតនាម" />
                            </div>
                            <div class="main-group-input-border">
                                <label>នាម</label>
                                <input type="text" placeholder="បញ្ចូលនាម" />
                            </div>
                        </div>

                        <div class="main-group-input-border">
                            <label>ភេទ</label>

                            <div class="main-content-check-box">
                                <div class="group-radio">
                                    <input type="radio" name="work-radio" class="input-radio" id="check-radio-normal" checked>
                                    <label class="main_max_screen_cursor_pointer text-radio" for="check-radio-normal">ស្រី</label>
                                </div>

                                <div class="group-radio">
                                    <input type="radio" name="work-radio" class="input-radio" id="check-radio-over-time">
                                    <label class="main_max_screen_cursor_pointer text-radio" for="check-radio-over-time">ប្រុស</label>
                                </div>
                            </div>
                        </div>
                        <div class="main-group-input-border">
                            <label>ទីតាំង</label>
                            <input type="text" placeholder="បញ្ចូលទីតាំង" />
                        </div>
                        <div class="main-group-input-border">
                            <label>លេខទូរស័ព្ទ</label>
                            <div class="main-input-with-icon">
                                <input type="number" placeholder="បញ្ចូលលេខទូរស័ព្ទ" />
                                <div class="main-icon"><i class="ri-phone-line" style="color:#8BC34A"></i></div>
                            </div>
                        </div>
                        <div class="main-group-input-border">
                            <label>ហ្វេសប៊ុក</label>
                            <div class="main-input-with-icon">
                                <input type="text" placeholder="បញ្ចូលហ្វេសប៊ុក" />
                                <div class="main-icon"><img src="~/Content/Assets/icon/facebook (1).png" /></div>

                            </div>
                        </div>
                        <div class="main-group-input-border">
                            <label>អ៊ីមែល</label>
                            <div class="main-input-with-icon">
                                <input type="text" placeholder="បញ្ចូលអ៊ីមែល" />
                                <div class="main-icon"><img src="~/Content/Assets/icon/email.png" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="main-tab-pane" id="address">
                        <div class="main-group-input-border">
                            <label>ទីតាំង</label>
                            <input type="text" placeholder="បញ្ចូលទីតាំង" />
                        </div>

                        <div class="main-group-input-border">
                            <label>លេខទូរស័ព្ទ</label>
                            <div class="main-input-with-icon">
                                <input type="number" placeholder="បញ្ចូលលេខទូរស័ព្ទ" />
                                <div class="main-icon"><i class="ri-phone-line" style="color:#8BC34A"></i></div>
                            </div>
                        </div>

                        <div class="main-group-input-border">
                            <label>ហ្វេសប៊ុក</label>
                            <div class="main-input-with-icon">
                                <input type="text" placeholder="បញ្ចូលហ្វេសប៊ុក" />
                                <div class="main-icon"><img src="~/Content/Assets/icon/facebook (1).png" /></div>

                            </div>
                        </div>
                        <div class="main-group-input-border">
                            <label>អ៊ីមែល</label>
                            <div class="main-input-with-icon">
                                <input type="text" placeholder="បញ្ចូលអ៊ីមែល" />
                                <div class="main-icon"><img src="~/Content/Assets/icon/email.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="main-footer-has-gird">
            <div class="main_max_screen_cursor_pointer main_action_ripple main-btn-right-dialog color-close use_all_btn_close_js_right_dialog" main-color-ripple="#71758b0f"><div class="main-title">បោះបង់</div></div>
            <div class="main_max_screen_cursor_pointer main_action_ripple main-btn-right-dialog color-save" main-color-ripple="#ffffff3b" id="btn_save_update_products"><div class="main-title">រក្សាទុក</div></div>
        </div>
    </div>
</div>
