<style>
    .main-dialog-body-scroll {
        height: 350px;
    }

@@media screen and (max-width: 500px) {
    .main-dialog-body-scroll {
        height: 70vh;
    }
}
</style>
<div class="main-modal" id="modal_dialog_create">
    <div class="main-dialog main-dialog-s">
        <div class="main-dialog-header">
            <div class="left">
                @*<i class="ri-add-fill"></i>*@
                <div class="main-dialog-title">បង្កើតផលិតផលថ្មី</div>
            </div>
            <div class="right"><div class="main-btn-close-modal btn_close_modal_create main-tooltip" title="បិទ"><i class="ri-close-line"></i></div></div>
        </div>
        <div class="main-dialog-body main-dialog-body-scroll">
            <form class="main-form-input">
                <div class="main-group-form">
                    <label class="main-label-form">ឈ្មោះផលិតផល(អង់គ្លេស)</label>
                    <input type="text" class="main-input-form" placeholder="សូមបញ្ចូល" />
                </div>
                <div class="main-group-form">
                    <label class="main-label-form">ប្រភេទផលិតផល</label>
                    <input type="text" class="main-input-form" placeholder="សូមបញ្ចូល" />
                </div>
                <div class="main-group-form">
                    <label class="main-label-form">ស្រឡាយផលិតផល</label>
                    <input type="text" class="main-input-form" placeholder="សូមបញ្ចូល" />
                </div>
                <div class="main-group-form">
                    <label class="main-label-form">ឈ្មោះផលិតផល(អង់គ្លេស)</label>
                    <input type="text" class="main-input-form" placeholder="សូមបញ្ចូល" />
                </div>
                <div class="main-group-form">
                    <label class="main-label-form">ប្រភេទផលិតផល</label>
                    <input type="text" class="main-input-form" placeholder="សូមបញ្ចូល" />
                </div>
                <div class="main-group-form">
                    <label class="main-label-form">ស្រឡាយផលិតផល</label>
                    <input type="text" class="main-input-form" placeholder="សូមបញ្ចូល" />
                </div>
                <div class="main-group-form">
                    <label class="main-label-form">ឈ្មោះផលិតផល(អង់គ្លេស)</label>
                    <input type="text" class="main-input-form" placeholder="សូមបញ្ចូល" />
                </div>
                <div class="main-group-form">
                    <label class="main-label-form">ប្រភេទផលិតផល</label>
                    <input type="text" class="main-input-form" placeholder="សូមបញ្ចូល" />
                </div>
                <div class="main-group-form">
                    <label class="main-label-form">ស្រឡាយផលិតផល</label>
                    <input type="text" class="main-input-form" placeholder="សូមបញ្ចូល" />
                </div>
            </form>
        </div>
        <div class="main-dialog-footer">
           @* <button class="main-btn-action btn-ripple-color-black main-btn-action-nomarl btn_close_modal_create"><i class="ri-close-fill"></i><div class="title-button" ocs-data-tag="btn_add">បោះបង់</div></button>*@
            <button class="main-btn-use-in-modal main_action_ripple main-background-save" id="btn_save"><i class="ri-save-3-line"></i><div class="title-button" ocs-data-tag="btn_add">រក្សាទុក</div></button>
        </div>
    </div>
</div>
