.v2-panel{
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: .25rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  overflow: hidden;
  margin: 0 20px;
  margin-bottom: 20px;
  font-size: 14px;

  .header, 
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    padding: 10px 20px;
    background: #fafafa;

    .left, .right, .center{
      all: unset;
      display: flex;
      align-items: center;
    }

    .center{
      width: 100%;
    }
  }

  .header{
    border-bottom: 1px solid #e0e0e0;
  }

  .footer{
    border-top: 1px solid #e0e0e0;
  }

  .body{
    max-height: 100%;
    padding: 10px 20px;
    overflow: auto;
  }
}